@{
    Layout = null;
}






<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Church Management System</title>

    <!-- Font Awesome -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
                                 
    <!-- Custom style -->        
    <link rel="stylesheet" href="~/Content/css/styles.css">
</head>
<body>

    <!--Header-->
    @Html.Partial("_HeaderMenu")


        <div class="header-info">
            <img class="church-image" src="~/Content/images/church5.JPG" alt="church">
            <h1 class="text-center portal">Welcome to the God's House Portal</h1>

            <p class="welcome-info1">I was glad when they said unto me, let us go into the house of the Lord</p>
            <p class="welcome-info2">Please click Login or Register</p>
        </div>

   
    @RenderBody()


    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>