
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MySecondLayout.cshtml";
}





<section>

    <div class="container-fluid">

        <h3 class="loggedInUser">Welcome Username</h3>
        <div class="row">
            <div class="col-lg-6">
                <img src="" alt="" aria-placeholder="">
                <small>Click inside to add your photo</small>
            </div>
            <div class="col-lg-6">
                <label for="firstname">First Name</label>
                <input type="text" class="form-input" id="firstname" name="firstname" placeholder="Enter First Name" />
                <label for="lastname">Last Name</label>
                <input type="text" class="form-input" id="lastname" name="lastname" placeholder="Enter Last Name" />
                <label for="username">Username</label>
                <input type="text" class="form-input" id="username" name="username" placeholder="Enter Username" />
                <label for="username">Age</label>
                <input type="number" class="form-input" id="username" name="username" placeholder="Selcet Age" />
                <label for="username">Telephone</label>
                <input type="tel" class="form-input" id="username" name="username" placeholder="Enter placeholder" />
                <label for="username">Address</label>
                <input type="textarea" class="form-input" id="username" name="username" placeholder="Enter Address" />
                <label>Select your sex</label>
                <select name="sex" class="form-input" id="sex">
                    <option value="select" disabled>Select sex</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                <label for="username">Date of Birth</label>
                <input type="date" class="form-input" id="username" name="username" placeholder="Enter Occupation" />
                <label for="username">Occupation</label>
                <input type="text" class="form-input" id="username" name="username" placeholder="Enter Occupation" />
            </div>
        </div>
    </div>
</section>


